$mainFont: 'Arial';
$secondaryFont: 'Arial Black';
//desktop
$navFontSizeD: 1.7rem;
$titleFontSizeD: 5rem;
$paragraphTitleFontSizeD: 18rem;
$commonTextD: 2.8rem;
$subtitleFontSizeD: 2.5rem;
$paragraphFontSizeD: 1.7rem;
// tablet lg
$paragraphFontSizeT: 1.3rem;
$paragraphTitleFontSizeT: 15rem;
$subtitleFontSizeT: 2.2rem;
// tablet sm
$paragraphFontSizeTsm: 1.2rem;
$paragraphTitleFontSizeTsm: 10rem;
$subtitleFontSizeTsm: 2rem;
$titleFontSizeTsm: 4rem;
// mobile 
$titleFontSizeM: 2.5rem;