$mainFont: 'Arial';
$secondaryFont: 'Arial Black';
//large desktop
$navFontSizeD: 17px;
$titleFontSizeD: 72px;
$paragraphTitleFontSizeD: 150px;
$commonTextD: 28px;
$subtitleFontSizeD: 20px;
$paragraphFontSizeD: 15px;
//mobile 
$navFontSizeM: 10px;
$titleFontSizeM: 40px;
$paragraphTitleFontSizeM: 100px;
$commonTextM: 14px;
$paragraphFontSizeM: 10px;
//tablet 
$paragraphTitleFontSizeT: 90px;
$subtitleT: 14px;
$paragraphFontSizeT: 13px;