@import '../../vars/fonts';
@import '../../vars/colors';
@import '../../vars/breakpoints';


.principles__item {
    font-family: $secondaryFont;
    margin-top: -60px;
    justify-self: end;
    width: 70%;
    align-self: start;
    @media only screen and (max-width: 1012px) {
        width: 100%;
    }
    @media only screen and (max-width: 930px) {
        width: 70%;
        margin-top: -40px;
    }
    @media only screen and (max-width: 768px) {
        text-align: center;
        justify-self: center;
    }

    & .principles__title {
        font-size: $paragraphTitleFontSizeD;
        color: $secondaryColor;
        width: 50%;
        margin: 0;
        @media only screen and (max-width: 1287px) {
            font-size: $paragraphTitleFontSizeT;
        }
        @media only screen and (max-width: 1012px) {
            width: 100%;
        }
        @media only screen and (max-width: 930px) {
            font-size: $paragraphTitleFontSizeTsm;
        }
    }
    & .principles__subtitle {
        font-size: $subtitleFontSizeD;
        margin: 0;
        line-height: 1;
        margin-bottom: 20px;
        margin-top: -30px;
        @media only screen and (max-width: 1150px) {
            font-size: $subtitleFontSizeT;
        }
        @media only screen and (max-width: 930px) {
            font-size: $subtitleFontSizeTsm;
            margin-top: -10px;
        }
        
    }
    & .principles__text {
        font-size: $paragraphFontSizeD;
        font-family: $mainFont;
        color: $paragraphText;
        @media only screen and (max-width: 1287px) {
            font-size: $paragraphFontSizeT;
        }
        @media only screen and (max-width: 930px) {
            font-size: $paragraphFontSizeTsm;
        }
    }
}