@import '../../vars/fonts';
@import '../../vars/colors';

.gallery--first {
    position: relative;
    & .gallery__signature--first {
        position: absolute;
        bottom: 7%;
        left: 3%;

    }
}
.gallery__signature {
    margin-top: 10px;
    font-size: 1.5rem;
    width: 40%;
    & .gallery__signature--bold {
        font-weight: 700;
        display: block;
    }
}