@import '../../vars/fonts';
@import '../../vars/colors';
@import '../../vars/breakpoints';
.pageHeader {
    height: 100vh;
    background-image: url('../../images/13cbb9642a213ba7605e66a0a25d861c-1.jpg');
    background-position: center;
    background-size: cover;
}
.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: $primaryColor;
    align-items: center;
    padding: 0 30px;
    height: 50px;
    & .nav {
        list-style: none;
        display: flex;
        justify-self: center;
        align-self: stretch;
        & li {
            padding: 15px 20px 0 20px;
            transition: background-color 0.2s ease-in-out;
            &:first-child {
                border-left: 1px solid #3D3D3D;
                border-right: 1px solid #3D3D3D;
            }
            &:last-child {
                border-right: 1px solid #3D3D3D;
                border-left: 1px solid #3D3D3D;
            }
            &:nth-child(2) {
                border-right: 1px solid #3D3D3D;
            }
            &:nth-child(3) {
                border-right: 1px solid #3D3D3D;
            }
            
        }
        & li:hover {
            background-color: $navFontColor;
            & a {
                color: $primaryColor;
            }
        }
    }
    & .nav__magnifier {
        justify-self: end;
        align-self: center;
    }
}
.hero {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1.5fr 1fr;
    & .hero__header {
        margin: 0 30px;
        font-family: $secondaryFont;
        font-size: $titleFontSizeD;
        display: grid;
        grid-template-areas: 
        "header-title"
        "header-subtitle";
        grid-template-rows: auto;
        @media only screen and (max-width: 930px) {
            font-size: $titleFontSizeTsm;
        }
        & .hero__title {
            grid-area: header-title;
        }
        & .hero__title--secondaryColor {
            grid-area: header-subtitle;
            color: $secondaryColor;
        }
    }
}